header {
    @include rwd(1640) {
        .courses_list {
            width: 40%;
            li {
                a {
                    font-size: 20px;
                }
            }
        }
    }
    @include laptop {
        .info {
            width: 28%;
        }
        .courses_list {
            width: 50%;
        }
        .languages {
            li {
                font-size: 16px;
            }
        }
    }
    @include rwd(1085) {
        .info {
            h1 {
                width: 175px;
                font-size: 34px;
            }
            h2 {
                font-size: 28px;
            }
        }
    }
    @include rwd(980) {
        .courses_list {
            width: 60%;
        }
        .languages {
            width: 8%;
            li {
                font-size: 14px;
                margin: 7px;
            }
        }
    }
    @include rwd(980) {
        .info {
            
        }
    }
}