<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Portfolio</title>
</head>

<body>
    <div class="wrapper">
        <!-- Header -->
        <header>
            <a href="/" class="info">
                <h1>Portfolio</h1>
                <h2>Maksim Dzjubenko</h2>
            </a>
            <ul class="courses_list">
                <li><a href="#">First course</a></li>
                <li><a href="#">Second course</a></li>
                <li><a href="#">Third course</a></li>
            </ul>
            <ul class="languages">
                <li class="active"><a href="/en">ENG</a></li>
                <li><a href="/et">EST</a></li>
            </ul>
        </header>
    
        <!-- Main -->
        <div id="content"><%= content %></div>
    
        <!-- Footer -->
        <footer>
    
        </footer>
    </div>
</body>

</html>