@import 'pages/_main-page';

body {
    background-color: rgb(82, 179, 196);
    .wrapper {
        width: 90%;
        margin: 0 auto;
        background-color: rgb(236, 236, 236);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
    }
}